* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

section {
	float: left;
	width: 100%;
}
	
body {
	color: #051C2C;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;

	&.open-modal {
		overflow: hidden;
		position: relative;
	}
}

.container {
	margin: 0 auto;

	@media(min-width: 1300px) {
		max-width: 1200px;
	}

	@media(min-width: 1200px) {
		padding: 0 40px;
	}

	@media(max-width: 1200px) {
		padding: 0 64px;
	}

	@media(max-width: 991px) {
		padding: 0 40px;
	}

	@media(max-width: 767px) {
		padding: 0 20px;
	}
}
	
a {}

a:hover {}

.wrapper {}

header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	padding: 40px 0;

	@media(max-width: 1200px) {
		padding: 20px 0;
	}

	@media(max-width: 768px) {
		position: fixed;
		padding: 7px 0;

		&.darkHeader {
			
			background-color: #051c2c;
		}
	}
}

.header-in {
}

.logo {
	float: left;

	@media(max-width: 767px) {
		width: 200px;
	}
}

.header-right {
	float: right;
	padding-right: 18px;
	padding: 20px 0 0;

	@media(max-width: 1200px) {
		padding: 0;
	}
}

.show-hide {
	display: none;

	@media(max-width: 1200px) {
		display: block;
		width: 43px;
		float: right;
		padding: 28px 0;
		position: relative;
		z-index: 9;
		cursor: pointer;

		@media(max-width: 767px) {
			padding: 26px 0;
		}

		span {
			display: block;
			height: 5px;
			width: 100%;
			margin: 2px 0 3px;
			background-color: #00A9F4;
			transition: all 0.3s;
		}

		// &:before, &:after {
		// 	content: '';
		// 	position: absolute;
		// 	height: 5px;
		// 	width: 43px;
		// 	background-color: #fff;
		// 	top: 50%;
		// 	margin-top: -3px;
		// 	opacity: 0;
		// 	transition: all 0.3s;
		// }

		&.open {
			span {
				opacity: 0;
			}
		}

		// &.open:before {
		// 	opacity: 1;
		// 	transform: rotate(-45deg);
		// }

		// &.open:after {
		// 	opacity: 1;
		// 	transform: rotate(45deg);
		// }
	}
}

.bg-plan {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
	background-color: rgba(5,28,44,0.9);
}

.header-nav {
	float: left;
	position: relative;

	@media(max-width: 1200px) {
		display: none;
		position: fixed;
		z-index: 999;
		right: 0;
		top: 0;
		height: 100vh;
		background-color: #051C2C;
		width: 350px;
		padding: 20px 40px 0 0;
	}

	@media(max-width: 767px) {
		width: 260px;
	}

	&:after {
		content: '';
		position: absolute;
		width: 2px;
		height: 43px;
		background-color: #00A9F4;
		right: 0;
		top: 50%;
		margin-top: -20px;

		@media(max-width: 1200px) {
			content: normal;
		}
	}
	ul {
		list-style: none;
		padding: 0 20px;
		margin: 0;

		@media(max-width: 1200px) {
			padding: 0;
		}
		li {
			float: left;
			font-weight: normal;

			&.hide-desc {
				display: none;

				@media(max-width: 1200px) {
					display: block;
				}
			}

			@media(max-width: 1200px) {
				width: 100%;
				text-align: right;
				margin-bottom: 5px;
				display: block;
			}
			a {
				color: #00A9F4;
				text-decoration: none;
				display: block;
				cursor: pointer;
				transition: all 0.3s;
				padding: 7px 21px;
				font-size: 20px;

				@media(max-width: 1200px) {
					padding: 5px 0;
					//width: 100%;
					font-size: 20px;
					text-transform: uppercase;
					font-weight: 300;
					color: #fff;
					line-height: 1.54;
					position: relative;
					float: right;

					&:before {
						content: '';
						width: 16px;
						height: 16px;
						position: absolute;
						top: 50%;
						margin-top: -9px;
						left: -30px;
						border: none;
						border-right: 3px solid #00A9F4;
						border-bottom: 3px solid #00A9F4;
						-webkit-transform: rotate(-45deg);
						-ms-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}

				&:hover{
					color: #fff;
				}
			}

			&.active {
				a {
					color: #fff;
				}
			}
		}
	}
}

.header-cont {
	float: left;
	padding-left: 48px;
	text-align: center;

	@media(max-width: 1200px) {
		padding-left: 0;
		padding-right: 53px;
		padding-top: 34px;
	}
}

.call-bt {
	margin-bottom: 15px;

	@media(max-width: 1200px) {
		display: none;
	}
	a {
		width: 200px;
	}
}

.first-bt {
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
	background-color: #00A9F4;
	color: #fff;
	font-weight: 500;
	text-align: center;
	padding: 0 15px;
	height: 39px;
	line-height: 39px;
	border: none;
	outline: none;
	transition: all	0.3s;
}

.phone {

	@media(max-width: 767px) {
		display: none;
	}
	a {
		font-size: 20px;
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

#hero {
	position: relative;
	@media(max-width: 1200px) {
		margin-bottom: 40px;
	}

	@media(max-width: 991px) {
		background-size: cover !important;
	}

	@media(min-width: 991px) {
		background:#051C2C url(./images/hero-bg.jpg) center center no-repeat;
		background-position: center center;
	}

	@media(min-width: 767px) and (max-width: 991px) {
		background:#051C2C url(./images/hero-bg-800.jpg) center center no-repeat;
	}

	@media(min-width: 320px) and (max-width: 767px) {
		background:#051C2C url(./images/hero-bg-400.jpg) center center no-repeat;
	}
}

.hero-in {
	min-height: 100vh;
	float: left;
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;

	@media(max-width: 991px) {
		min-height: 440px;
	}
}

.hero-descr {
	color: #fff;
}

.hero-top {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;

	@media(max-width: 1200px) {
		margin-bottom: 34px;
	}

	@media(max-width: 767px) {
		margin-bottom: 20px;
		padding-top: 10px;
	}
}

.hero-slogan {
	text-align: right;
	font-size: 25px;
	line-height: 38px;

	@media(max-width: 1200px) {
		font-size: 20px;
		line-height: 30px;
	}

	@media(max-width: 991px) {
		font-size: 16px;
		line-height: 30px;
	}

	@media(max-width: 767px) {
		display: none;
	}
}

.hero-tit {
	text-transform: uppercase;
	padding-left: 40px;
	font-size: 56px;
	font-weight: 500;
	line-height: 1.03;
	font-weight: 500;

	@media(max-width: 1200px) {
		font-size: 42px;
	}

	@media(max-width: 991px) {
		font-size: 38px;
	}

	@media(max-width: 767px) {
		font-size: 28px;
		padding-left: 0;
		text-align: center;
	}
}

.hero-mob-phone {
	display: none;

	@media(max-width: 767px) {
		display: block;
		width: 100%;
		text-align: center;
		margin-bottom: 15px;

		a {
			font-size: 20px;
			font-weight: 500;
			color: #fff;
			text-decoration: none;
		}
	}
}

.hero-bt {
	float: left;
	width: 100%;
	text-align: center;

	@media(max-width: 991px) {
		
	}

	a {
		width: 163px;
	}
}

.hero-call-ico {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	bottom: 10%;

	@media(max-width: 991px) {
		bottom: 33px;
	}

	svg {
		@media(max-width: 1200px) {
			width: 60px;
			height: 60px;
		}
	}
}

#posts {
	margin-bottom: 60px;

	@media(max-width: 1200px) {
		margin-bottom: 45px;
	}

	@media(max-width: 991px) {
		margin-bottom: 0;
	}

	.container {
		padding: 0;

		@media(max-width: 1300px) {
			padding: 0 20px;
		}
	}
}

#posts-page {
	margin-bottom: 120px;

	@media(max-width: 1200px) {
		padding-top: 40px; 
	}

	@media(max-width: 991px) {
		margin-bottom: 0;
	}

	.container {
		padding: 0;

		@media(max-width: 1300px) {
			padding: 0 20px;
		}
	}
}

.post-wrap {
	float: left;
	width: 100%;

	@media(max-width: 991px) {
		padding: 0 60px;
	}

	@media(max-width: 767px) {
		padding: 0 15px;
	}
}

.one-post {
	float: left;
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;

	@media(max-width: 991px) {
		margin-bottom: 60px;
	}

	& > div {
		width: 50%;

		@media(max-width: 991px) {
			width: 100%;
			text-align: center;
		}
	}

	&:not(.invert) {
		.one-post-descr {
			padding-left: 60px;
			padding-right: 40px;

			@media(max-width: 1200px) {
				padding: 0 30px 0 40px;
			}

			@media(max-width: 991px) {
				padding: 0;
			}
		}

		.one-post-price {
			//padding-left: 18px;

			&:before {
				content: '//';
				color: #00A9F4;
			}
		}
	}
	
	&.invert {
		flex-direction: row-reverse;
		.one-post-descr {
			text-align: right;
			padding-right: 60px;
			padding-left: 40px;

			@media(max-width: 1200px) {
				padding: 0 40px 0 30px;
			}

			@media(max-width: 991px) {
				text-align: center;
				padding: 0;
			}
		}

		.one-post-price {
			//padding-right: 18px;

			&:after {
				content: '//';
				color: #00A9F4;
			}
		}

		.one-post-soc {
			display: flex;
			justify-content: flex-end;
		}
	}
}

.one-post-thumb {
	@media(max-width: 991px) {
		display: none;
	}

	img {
		width: 100%;
	}
}

.one-post-descr {
	
}

.one-post-tit {
	margin-bottom: 20px;
	max-width: 400px;
	display: inline-block;

	h2 {
		font-size: 30px;
		line-height: 38px;
		margin: 0;
		padding: 0;
		font-weight: normal;
	}

	@media(max-width: 1200px) {
		font-size: 26px;
		line-height: 30px;
		margin-bottom: 10px;
	}

	@media(max-width: 767px) {
		margin-bottom: 20px;
	}
}

.one-post-text {
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 40px;

	@media(max-width: 1200px) {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 20px;
	}

	@media(max-width: 991px) {
		margin-bottom: 50px;
	}

	@media(max-width: 767px) {
		margin-bottom: 20px;
	}

}

.one-post-price {
	float: left;
	width: 100%;
	font-style: italic;
	position: relative;
}

.one-post-bt {
	a {
		width: 140px;

		@media(max-width: 1200px) {
			width: 130px;
		}

		@media(max-width: 991px) {
			width: 150px;
		}
	}
}

#order {
	background-color: #00A9F4;
	padding: 38px 112px 33px;

	@media(max-width: 1300px) {
		padding: 38px 90px 33px;
	}

	@media(max-width: 991px) {
		padding: 38px 54px 33px;
	}

	@media(max-width: 767px) {
		padding: 32px 35px 40px;
	}
}

.order {
	float: left;
	width: 100%;
	text-align: center;
	color: #fff;
}

.order-tit {
	font-size: 28px;
	font-weight: 500;
	line-height: 33px;
	margin-bottom: 23px;

	@media(max-width: 767px) {
		margin-bottom: 13px;
	}
}

.order-text {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 38px;

	@media(max-width: 767px) {
		display: none;
	}
}

.order-bt {
	a {
		width: 240px;
	}
}

.sec-bt {
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	text-decoration: none;
	background-color: #051C2C;
	color: #fff;
	font-weight: 500;
	text-align: center;
	padding: 0 15px;
	height: 60px;
	line-height: 60px;
	border: none;
	outline: none;
	transition: all	0.3s;
}

footer {
	float: left;
	width: 100%;
	background-color: #051C2C;
	color: #fff;

	a {
		color: #00A9F4;
		text-decoration: none;
		transition: all 0.3s;

		&:hover {
			color: #fff;
		}
	}
}

.footer-in {
	position: relative;
	padding: 40px 66px 55px;
	display: flex;
	justify-content: space-between;

	@media(max-width: 1200px) {
		padding: 40px 113px 55px;
	}

	@media(max-width: 991px) {
		padding: 40px 0 55px;
	}

	@media(max-width: 767px) {
		display: block;
		padding: 35px 0 44px;
	}
}

.footer-left {
	width: 190px;

	@media(max-width: 767px) {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
}

.footer-logo {
	margin-bottom: 20px;

	@media(max-width: 767px) {
		display: none;
	}
}

.foot-pol {
	font-size: 18px;
}

.partner {
	@media(max-width: 1200px) {
		display: none;
	}
}

.partner-tit {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
}

.partner-img {
}

.footer-nav {

	@media(max-width: 767px) {
		display: none;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			font-weight: normal;
			margin-bottom: 2px;
			a {
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}

.footer-cont {
	color: #00A9F4;
	font-size: 18px;
	line-height: 24px;
	position: relative;

	@media(max-width: 767px) {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		width: 100%;
	}
}

.made {
	position: absolute;
	left: 0;
	bottom: -10px;
	font-size: 12px;
	margin-bottom: -15px;

	@media(max-width: 767px) {
		width: 100%;
		text-align: center;
	}
}

.footer-adr {
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 24px;
}

.foot-soc {
	@media(max-width: 767px) {
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	a {
		display: flex;
		margin-right: 10px;
		border-radius: 50%;
		float: left;
		width: 40px;
		height: 40px;
		cursor: pointer;
		align-content: center;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: #00A9F4;

		@media(max-width: 767px) {
			margin: 0 5px;
		}
	}
}

.custom-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 999;
	display: none;
}

.custom-modal-wrap {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.custom-form {
	max-width: 350px;
	padding: 54px 30px 25px;
	background-color: #fff;
	position: relative;
}

.close-modal {
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: pointer;
	top: 0;
	right: 0;

	&:before, &:after {
		content: '';
		height: 2px;
		width: 24px;
		background-color: #00A9F4;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -1px 0 0 -12px;
		transform: rotate(-45deg);
		transition: all 0.3s;
	}

	&:after {
		transform: rotate(45deg);
	}

	&:hover {
		&:before, &:after {
			background-color: #000;
		}
	}
}

.form-tit {
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 14px;
}

.form-body {
}

.one-inp {
	margin-bottom: 10px;
}

input:not([type="checkbox"]) {
	width: 100%;
	text-align: center;
	height: 60px;
	border: 2px solid #051C2C;
	padding: 0 15px;
	outline: none !important;
	transition: all 0.3s;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #5A5A5A;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: #5A5A5A;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: #5A5A5A;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: #5A5A5A;
	}

	&:hover {
		border-color: #00A9F4;
	}

	&:focus {
		border-color: #00A9F4;

		// &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		// 	color: #FF6B00;
		// }
		// &::-moz-placeholder { /* Firefox 19+ */
		// 	color: #FF6B00;
		// }
		// &:-ms-input-placeholder { /* IE 10+ */
		// 	color: #FF6B00;
		// }
		// &:-moz-placeholder { /* Firefox 18- */
		// 	color: #FF6B00;
		// }
		
	}
}

.inp-error {
	input {
		
		border-color: #FF6B00;
		color: #FF6B00;

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #FF6B00;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #FF6B00;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #FF6B00;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #FF6B00;
		}
			
		
	}
}

.one-send {
	margin-bottom: 18px;
	button {
		height: 60px;
		line-height: 60px;
		width: 100%;
	}
}

.info-form {
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	padding: 0 10px;
}

.modal-text {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 40px;
}

#hero-inside {
	background-color: #051C2C;
	padding: 180px 0 10px;
	color: #fff;

	@media(max-width: 767px) {
		padding: 130px 0 20px;
	}
}

.hero-inside-wrap {
	float: left;
	width: 100%;
	text-align: center;
	h1 {
		font-weight: 500;
		font-size: 36px;
		line-height: 42px;
		margin: 0 0 15px 0;
		padding: 0;
		text-transform: uppercase;

		@media(max-width: 767px) {
			font-size: 28px;
			line-height: 1.03;
		}
	}
}

.inside-descr {
	padding-top: 5px;
	font-size: 24px;
	font-weight: 300;
	line-height: 28px;
	margin-bottom: 30px;

	@media(max-width: 1200px) {
		font-size: 20px;
		line-height: 28px;
	}

	@media(max-width: 991px) {
		font-size: 18px;
		line-height: 20px;
	}

	@media(max-width: 767px) {
		display: none;
	}
}

.broad {
	ul {
		display: block;
		text-align: center;
		li {
			display: inline-block;
			font-weight: 300;
			font-size: 18px;
			line-height: 24px;
			color: #00A9F4;
			margin: 0 5px;
			a {
				color: #00A9F4;
				display: block;
				cursor: pointer;
				text-decoration: none;
				transition: all 0.3s;
				padding-right: 20px;
				position: relative;

				&:after {
					content: '';
					width: 8px;
					height: 8px;
					position: absolute;
					top: 50%;
					margin-top: -4px;
					right: 0;
					border: none;
					border-right: 2px solid #fff;
					border-bottom: 2px solid #fff;
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}

				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.main {
	float: left;
	width: 100%;
	font-size: 18px;
	line-height: 24px;

	

	p {
		margin-bottom: 8px;
		font-weight: 300;
		& + h2, & + h3, & + h4, & + ul, & + ol {
			margin-top: 40px;
		}
		
	}

	ol {
		display: block;
		list-style: decimal;
		list-style-position: inside;
		margin: 20px 0 60px;
		li {
			margin-bottom: 5px;
			font-weight: 300;
		}
	}

	ul {
		margin: 20px 0 60px;
		li {
			margin-bottom: 5px;
			font-weight: 300;
		}
	}
}

.main-wrap {
	padding: 40px 78px 75px;

	@media(max-width: 1200px) {
		padding: 40px 0 60px;
	}

	@media(max-width: 767px) {
		padding: 20px 0 40px;
	}
}



h2 {
	margin: 20px 0 20px 0;
	font-size: 28px;
	font-weight: 500;
	line-height: 33px;
	text-transform: uppercase;

	& + h3 {
		margin-top: 40px;
	}
}

h3 {
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

#etaps {
	text-align: center;
	margin-bottom: 40px;

	@media(min-width: 991px) {
		background: url(./images/etaps-bg.jpg) center center no-repeat;
	}

	@media(min-width: 767px) and (max-width: 991px) {
		background:#fff url(./images/etaps-bg-800.jpg) center bottom -172px no-repeat;
	}

	@media(max-width: 767px) {
		margin-bottom: 110px;
	}
}

.etaps-tit {
	h2 {
		margin-top: 0;
	}
}

.back-bt {
	&.hide-back-desc {
		display: none;

		@media(max-width: 767px) {
			display: block;
			padding: 15px 0 0;
		}
	}
}

.etaps-wrap {
	padding-top: 40px;

	@media(max-width: 991px) {
		padding-top: 20px;
	}
}

.one-et {
	margin-bottom: 40px;
}

.one-et-ico {
	margin-bottom: 20px;
}

.one-et-tit {
}

.one-et-text {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

.main-form {
	float: left;
	width: 100%;
	text-align: center;
	padding: 60px 0 60px;

	@media(max-width: 1200px) {
		padding: 40px 0 60px;
	}
}

.form-order {
	display: inline-block;
	width: 320px;

	@media(max-width: 767px) {
		width: 100%;
	}
}

.one-ord-inp {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.check-form {
	text-align: left;
	float: left;
	width: 100%;
	padding: 40px 0 50px;
}

.one-check {
	white-space: nowrap;
	float: left;
	width: 100%;
	margin-bottom: 10px;

	@media(max-width: 767px) {
		white-space: normal;
		margin-bottom: 17px;
	}

	label {
		position: relative;
		margin: 0;
		padding: 0;
		display: block;
		cursor: pointer;
		padding-left: 40px;
		font-size: 18px;
		font-weight: 300;

		@media(max-width: 767px) {
			font-size: 16px;
			line-height: 15px;
		}
		input {
			display: none;

			&:checked {
				& + i {
					background-color: #00A9F4;
					border-color: #00A9F4;
				}
			}
		}

		i {
			display: block;
			width: 20px;
			height: 20px;
			border: 2px solid #051C2C;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -11px;
		}

		span {}
	}
}

.order-now-bt {
	text-align: left;
	float: left;
	width: 100%;

	@media(max-width: 767px) {
		text-align: center;
	}
	button {
		height: 60px;
		line-height: 60px;
		width: 240px;
	}
}

.order-info {
	float: left;
	width: 100%;
	padding: 17px 0 0;
	font-size: 12px;
	line-height: 14px;
	width: 280px;

	@media(max-width: 767px) {
		display: inline-block;
		text-align: left;
		float: none;
	}
}

.main-posts {
	float: left;
	width: 100%;
	font-weight: normal;
}

.fast-menu {
	float: left;
	width: 100%;
	padding: 16px 0 40px;

	@media(max-width: 991px) {
		padding: 34px 0;
	}

	@media(max-width: 767px) {
		padding: 20px 0 16px;
		position: relative;
		z-index: 9;
	}

	ul {
		display: block;
		text-align: center;
		padding: 0 80px;
		margin: 0;

		@media(max-width: 1200px) {
			padding: 0;
		}

		@media(max-width: 767px) {
			position: absolute;
			padding: 0 12px;
			background-color: #fff;
			display: none;
		}
		li {

			@media(min-width: 767px) {
				display: inline-block;
				vertical-align: top;
				margin: 0 0px;
				font-weight: normal;
				a {
					color: #00A9F4;
					font-size: 20px;
					line-height: 28px;
					text-decoration: none;
					padding: 0 8px 2px;
					transition: all 0.3s;

					&:hover {
						background-color: #00A9F4;
						color: #fff;
						//text-decoration: underline;
					}
				}

				&.active {
					a {
						background-color: #00A9F4;
						color: #fff;
					}
				}
			}

			@media(max-width: 767px) {
				float: left;
				width: 100%;

				a {
					display: block;
					cursor: pointer;
					width: 100%;
					height: 40px;
					line-height: 40px;
					border-bottom: 1px solid #ECECEC;
					font-size: 16px;
					text-transform: uppercase;
					text-decoration: none;
					color: #051C2C;
				}

				&:last-child {
					a {
						border: none;
					}
				}
			}
		}
	}
}

.bt-mob-cat {
	display: none;

	@media(max-width: 767px) {
		display: block;
		cursor: pointer;
		width: 100%;
		height: 40px;
		border: 2px solid #051C2C;
		line-height: 36px;
		text-align: center;
	}
}

.posts-cat {
	float: left;
	width: 100%;
}

.cat-tit {
	float: left;
	width: 100%;
	text-align: center;

	h2 {
		margin: 0 0 20px;
	}
}

.posts-cat-list {
	margin: 0 -40px 140px;

	@media(max-width: 1200px) {
		margin: 0 0 45px;
	}

	&-in {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@media(max-width: 767px) {
			padding: 17px 40px 0;
		}
	}
}

.one-cat-post {

	@media(min-width: 767px) {
		width: 280px;
		margin: 0 5px 10px;
	}

	@media(max-width: 767px) {
		float: left;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
}

.one-cat-post-in {
	@media(min-width: 767px) {
		min-height: 320px;
		background-color: #ECECEC;
		float: left;
		width: 100%;
	}
}

.one-cat-post-thumb {
	@media(min-width: 767px) {
		padding: 1px;
		float: left;
		width: 100%;
		margin-bottom: 17px;
	}

	@media(max-width: 767px) {
		display: none;
	}

	span {
		display: block;
		height: 159px;
		background-repeat: no-repeat;
		background-position: ceenter center;
		background-size: cover;
	}
}

.one-cat-post-descr {
	@media(min-width: 767px) {
		float: left;
		width: 100%;
		text-align: center;
		font-weight: 300;
		padding: 0 20px;
	}
}

.one-cat-post-tit {
	@media(min-width: 767px) {
		float: left;
		width: 100%;
		height: 56px;
		overflow: hidden;
		margin-bottom: 10px;
		line-height: 18px;
		a {
			font-size: 16px;
			line-height: 18px;
			color: #051C2C;
			transition: all 0.3s;
			text-decoration: none;

			&:hover {
				color: #00A9F4;
			}
		}
	}
	
	@media(max-width: 767px) {
		a {
			float: left;
			width: 100%;
			color: #00A9F4;
			text-decoration: none;
		}
	}
}

.one-cat-post-cat {
	@media(min-width: 767px) {
		float: left;
		width: 100%;
		font-size: 14px;
		line-height: 24px;
		color: #00A9F4;
		margin-bottom: 10px;
	}

	@media(max-width: 767px) {
		display: none;
	}
}

.one-cat-post-read {
	@media(min-width: 767px) {
		float: left;
		width: 100%;
		a {
			font-size: 18px;
			line-height: 24px;
			color: #00A9F4;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}

		}
	}

	@media(max-width: 767px) {
		display: none;
	}
}

.back-bt {
	text-align: center;
	padding: 60px 0 0;

	@media(max-width: 1200px) {
		padding: 40px 0 0;
	}
	a {
		height: 60px;
		line-height: 60px;
		width: 240px;
	}
}

.posts-single {
	float: left;
	width: 100%;
	padding: 0 78px 80px;

	@media(max-width: 1200px) {
		padding: 0 0 80px;
	}

	& > h2,
	& > h3 {
		text-align: center;
	}

	h2 {
		margin: 0 0 13px;
	}

	h3 {
		margin: 0 0 15px;
	}

	h4 {
		font-size: 20px;
		line-height: 23px;
		font-weight: normal;
		margin: 0 0 20px;
	}

	p {
		font-size: 18px;
		line-height: 24px;

		& + blockquote {
			margin-top: 20px;
		}
	}

	blockquote {
		margin: 10px 0 20px;
		padding: 0px 80px 0px 40px;
		font-style: italic;
		font-size: 18px;
		line-height: 24px;
		font-weight: 300;

		@media(max-width: 767px) {
			padding: 0 20px 0 20px;
		}
	}

	.table-wrap {
		overflow-x: auto;
		max-width: 100%;
		margin: 45px auto 54px;
	}

	table {
		max-width: 100%;
		border-spacing: 1px;
		border: 1px solid #051C2C;
		font-weight: 300;

		@media(max-width: 1200px) {
			width: 100%;
		}


		tr {
			th, td {
				padding: 15px 20px;
				border: 1px solid #051C2C;
				text-align: left;
				line-height: 20px;

				@media(max-width: 991px) {
					padding: 10px 10px;
				}
			}

			th {
				font-size: 18px;
			}

			td {
				font-size: 16px;
			}
		}
	}
}

.post-in-thumb {
	float: left;
	width: 100%;
	margin-bottom: 50px;
	margin-top: -20px;
	background-position: center center;
	height: 338px;
	background-repeat: no-repeat;
	background-size: cover;

	@media(max-width: 991px) {
		margin-top: 0;
	}

	@media(max-width: 767px) {
		display: none;
	}
}

.post-body {
	float: left;
	width: 100%;
	padding: 35px 0 58px;

	@media(max-width: 767px) {
		padding: 10px 0 40px;
	}
}

#advantages {
	text-align: center;
	padding: 60px 0 80px;

	@media(min-width: 991px) {
		background:#fff url(./images/advantages-bg.jpg) center bottom -172px no-repeat;
	}

	@media(min-width: 767px) and (max-width: 991px) {
		background:#fff url(./images/advantages-bg-800.jpg) center bottom -172px no-repeat;
	}

	@media(max-width: 767px) {
		padding: 40px 0 20px;
	}
}

.about-tit {
	float: left;
	width: 100%;
	text-align: center;
	padding: 56px 0 40px;

	h2 {
		margin: 0;
		padding: 0;
		text-transform: uppercase;
	}
}

.one-post-soc {
	display: flex;
	float: left;
	width: 100%;

	@media(max-width: 991px) {
		justify-content: center !important;
	}
	a {
		display: flex;
		margin-right: 10px;
		border-radius: 50%;
		float: left;
		width: 40px;
		height: 40px;
		cursor: pointer;
		align-content: center;
		align-items: center;
		justify-content: center;
		text-align: center;
		background-color: #00A9F4;

		@media(max-width: 767px) {
			margin: 0 5px;
		}
	}
}

.posts-about {
	@media(max-width: 991px) {
		padding: 0 110px;
	}

	@media(max-width: 767px) {
		padding: 0 20px;
	}

	.one-post {
		align-content: flex-start;
		align-items: flex-start;

		@media(max-width: 1200px) {
			align-content: center;
			align-items: center;
		}

		@media(max-width: 991px) {
			margin-bottom: 80px;
		}
	}

	.one-post-descr {
		padding-top: 60px;
	}

	.one-post-text {
		margin-bottom: 20px;

		@media(max-width: 1200px) {
			font-size: 18px;
			line-height: 26px;
		}
	}

	.one-post-tit {
		@media(max-width: 1200px) {
			font-size: 30px;
			margin-bottom: 20px;
		}
	}
}

#about-comp {
	h2 {
		margin-top: 0;
	}
}

#numbers {
	padding: 50px 0 60px;

	@media(min-width: 991px) {
		background:#fff url(./images/numbers-bg.jpg) center center no-repeat;
	}

	@media(min-width: 767px) and (max-width: 991px) {
		background:#fff url(./images/numbers-bg-800.jpg) center center no-repeat;
	}
	@media(max-width: 767px) {
		padding: 40px 0 40px;
	}
}

.numbers-tit {
	float: left;
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
	h2 {
		padding: 0;
		margin: 0;
		
	}
}

.numbers-wrap {
	float: left;
	width: 100%;
}

.one-number {
	float: left;
	width: 100%;
	margin-bottom: 60px;
	text-align: center;

	@media(max-width: 767px) {
		margin-bottom: 40px;
	}
}

.one-number-val {
	float: left;
	width: 100%;
	margin-bottom: 10px;

	span {
		// display: inline-block;
		// height: 62px;
		// line-height: 62px;
		// background-color: #051C2C;
		// color: #fff;
		// font-size: 60px;
		// padding: 0 3px;
		// margin: 0 1px;
	}
}

.one-number-text {
	float: left;
	width: 100%;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
}

#feed {
	padding: 60px 0 110px;

	@media(max-width: 767px) {
		padding: 30px 0 110px;
	}
}

.feed-carus {
	padding: 0 40px;

	@media(max-width: 767px) {
		padding: 0 35px;
	}

	.slick-dots {
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		bottom: -25px;

		@media(max-width: 767px) {
			bottom: -55px;
		}

		li {
			display: inline-block;
			margin: 0 10px;

			button {
				outline: none !important;
				width: 12px;
				height: 12px;
				font-size: 0;
				overflow: hidden;
				border: none;
				background-color: #051C2C;
				border-radius: 50%;
				padding: 0;
				margin: 0;
				cursor: pointer;

				&:hover {
					background-color: #00A9F4;
				}
			}

			&.slick-active {
				button {
					background-color: #00A9F4;
				}
			}
		}
	}

	.slick-arrow {
		width: 30px;
		height: 50px;
		position: absolute;
		z-index: 9;
		top: 50%;
		margin-top: -15px;
		font-size: 0;
		border: none;
		background-color: transparent;
		outline: none !important;
		cursor: pointer;

		&:before {
			content: '';
			width: 26px;
			height: 26px;
			position: absolute;
			top: 50%;
			margin-top: -13px;
			left: 50%;
			margin-left: -13px;
			border: none;
			border-right: 7px solid #00A9F4;
			border-bottom: 7px solid #00A9F4;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		&.slick-prev {
			left: -40px;

			@media(max-width: 767px) {
				left: -35px;
			}

			&:before {
				transform: rotate(135deg);
			}
		}

		&.slick-next {
			right: -40px;

			@media(max-width: 767px) {
				right: -35px;
			}
		}
	}
}

.feed-carus-init {
}

.one-feed {
	outline: none !important;
	padding: 10px;

	@media(max-width: 767px) {
		text-align: center;
	}

	a {
		outline: none !important;

		img {
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

			@media(max-width: 767px) {
				display: inline;
				max-width: 250px;
			}
		}
	}
}

.digit-con{
	width: 40px;
	height: 62px;
	overflow:hidden;
	display:inline-block;
	background-color:#000;
	font-size:60px;
	line-height: 62px;
	margin: 0 2px 0 3px;
}
.digit-con span{
	width: 40px;
	height: 62px;
	display:block;
	text-align:center;
	font-size:60px;
	line-height: 62px;
	color:#fff;
	position:relative;
	top:0;
}
.comma{
	color:#0CA67F;
	font-size:4.2em;
}

.error{
	color:red;
	display:none;
}
	

