* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

section {
  float: left;
  width: 100%;
}

body {
  color: #051C2C;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
body.open-modal {
  overflow: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
}
@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 1200px) {
  .container {
    padding: 0 64px;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 40px 0;
}
@media (max-width: 1200px) {
  header {
    padding: 20px 0;
  }
}
@media (max-width: 768px) {
  header {
    position: fixed;
    padding: 7px 0;
  }
  header.darkHeader {
    background-color: #051c2c;
  }
}

.logo {
  float: left;
}
@media (max-width: 767px) {
  .logo {
    width: 200px;
  }
}

.header-right {
  float: right;
  padding-right: 18px;
  padding: 20px 0 0;
}
@media (max-width: 1200px) {
  .header-right {
    padding: 0;
  }
}

.show-hide {
  display: none;
}
@media (max-width: 1200px) {
  .show-hide {
    display: block;
    width: 43px;
    float: right;
    padding: 28px 0;
    position: relative;
    z-index: 9;
    cursor: pointer;
  }
}
@media (max-width: 1200px) and (max-width: 767px) {
  .show-hide {
    padding: 26px 0;
  }
}
@media (max-width: 1200px) {
  .show-hide span {
    display: block;
    height: 5px;
    width: 100%;
    margin: 2px 0 3px;
    background-color: #00A9F4;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}
@media (max-width: 1200px) {
  .show-hide.open span {
    opacity: 0;
  }
}

.bg-plan {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: none;
  background-color: rgba(5, 28, 44, 0.9);
}

.header-nav {
  float: left;
  position: relative;
}
@media (max-width: 1200px) {
  .header-nav {
    display: none;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #051C2C;
    width: 350px;
    padding: 20px 40px 0 0;
  }
}
@media (max-width: 767px) {
  .header-nav {
    width: 260px;
  }
}
.header-nav:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 43px;
  background-color: #00A9F4;
  right: 0;
  top: 50%;
  margin-top: -20px;
}
@media (max-width: 1200px) {
  .header-nav:after {
    content: normal;
  }
}
.header-nav ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}
@media (max-width: 1200px) {
  .header-nav ul {
    padding: 0;
  }
}
.header-nav ul li {
  float: left;
  font-weight: normal;
}
.header-nav ul li.hide-desc {
  display: none;
}
@media (max-width: 1200px) {
  .header-nav ul li.hide-desc {
    display: block;
  }
}
@media (max-width: 1200px) {
  .header-nav ul li {
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    display: block;
  }
}
.header-nav ul li a {
  color: #00A9F4;
  text-decoration: none;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 7px 21px;
  font-size: 20px;
}
@media (max-width: 1200px) {
  .header-nav ul li a {
    padding: 5px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    line-height: 1.54;
    position: relative;
    float: right;
  }
  .header-nav ul li a:before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -30px;
    border: none;
    border-right: 3px solid #00A9F4;
    border-bottom: 3px solid #00A9F4;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.header-nav ul li a:hover {
  color: #fff;
}
.header-nav ul li.active a {
  color: #fff;
}

.header-cont {
  float: left;
  padding-left: 48px;
  text-align: center;
}
@media (max-width: 1200px) {
  .header-cont {
    padding-left: 0;
    padding-right: 53px;
    padding-top: 34px;
  }
}

.call-bt {
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .call-bt {
    display: none;
  }
}
.call-bt a {
  width: 200px;
}

.first-bt {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  background-color: #00A9F4;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
  height: 39px;
  line-height: 39px;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 767px) {
  .phone {
    display: none;
  }
}
.phone a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.phone a:hover {
  text-decoration: underline;
}

#hero {
  position: relative;
}
@media (max-width: 1200px) {
  #hero {
    margin-bottom: 40px;
  }
}
@media (max-width: 991px) {
  #hero {
    background-size: cover !important;
  }
}
@media (min-width: 991px) {
  #hero {
    background: #051C2C url(./images/hero-bg.jpg) center center no-repeat;
    background-position: center center;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #hero {
    background: #051C2C url(./images/hero-bg-800.jpg) center center no-repeat;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #hero {
    background: #051C2C url(./images/hero-bg-400.jpg) center center no-repeat;
  }
}

.hero-in {
  min-height: 100vh;
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991px) {
  .hero-in {
    min-height: 440px;
  }
}

.hero-descr {
  color: #fff;
}

.hero-top {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1200px) {
  .hero-top {
    margin-bottom: 34px;
  }
}
@media (max-width: 767px) {
  .hero-top {
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

.hero-slogan {
  text-align: right;
  font-size: 25px;
  line-height: 38px;
}
@media (max-width: 1200px) {
  .hero-slogan {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 991px) {
  .hero-slogan {
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .hero-slogan {
    display: none;
  }
}

.hero-tit {
  text-transform: uppercase;
  padding-left: 40px;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.03;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .hero-tit {
    font-size: 42px;
  }
}
@media (max-width: 991px) {
  .hero-tit {
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .hero-tit {
    font-size: 28px;
    padding-left: 0;
    text-align: center;
  }
}

.hero-mob-phone {
  display: none;
}
@media (max-width: 767px) {
  .hero-mob-phone {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }
  .hero-mob-phone a {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
}

.hero-bt {
  float: left;
  width: 100%;
  text-align: center;
}
.hero-bt a {
  width: 163px;
}

.hero-call-ico {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 10%;
}
@media (max-width: 991px) {
  .hero-call-ico {
    bottom: 33px;
  }
}
@media (max-width: 1200px) {
  .hero-call-ico svg {
    width: 60px;
    height: 60px;
  }
}

#posts {
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  #posts {
    margin-bottom: 45px;
  }
}
@media (max-width: 991px) {
  #posts {
    margin-bottom: 0;
  }
}
#posts .container {
  padding: 0;
}
@media (max-width: 1300px) {
  #posts .container {
    padding: 0 20px;
  }
}

#posts-page {
  margin-bottom: 120px;
}
@media (max-width: 1200px) {
  #posts-page {
    padding-top: 40px;
  }
}
@media (max-width: 991px) {
  #posts-page {
    margin-bottom: 0;
  }
}
#posts-page .container {
  padding: 0;
}
@media (max-width: 1300px) {
  #posts-page .container {
    padding: 0 20px;
  }
}

.post-wrap {
  float: left;
  width: 100%;
}
@media (max-width: 991px) {
  .post-wrap {
    padding: 0 60px;
  }
}
@media (max-width: 767px) {
  .post-wrap {
    padding: 0 15px;
  }
}

.one-post {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 991px) {
  .one-post {
    margin-bottom: 60px;
  }
}
.one-post > div {
  width: 50%;
}
@media (max-width: 991px) {
  .one-post > div {
    width: 100%;
    text-align: center;
  }
}
.one-post:not(.invert) .one-post-descr {
  padding-left: 60px;
  padding-right: 40px;
}
@media (max-width: 1200px) {
  .one-post:not(.invert) .one-post-descr {
    padding: 0 30px 0 40px;
  }
}
@media (max-width: 991px) {
  .one-post:not(.invert) .one-post-descr {
    padding: 0;
  }
}
.one-post:not(.invert) .one-post-price:before {
  content: "//";
  color: #00A9F4;
}
.one-post.invert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.one-post.invert .one-post-descr {
  text-align: right;
  padding-right: 60px;
  padding-left: 40px;
}
@media (max-width: 1200px) {
  .one-post.invert .one-post-descr {
    padding: 0 40px 0 30px;
  }
}
@media (max-width: 991px) {
  .one-post.invert .one-post-descr {
    text-align: center;
    padding: 0;
  }
}
.one-post.invert .one-post-price:after {
  content: "//";
  color: #00A9F4;
}
.one-post.invert .one-post-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 991px) {
  .one-post-thumb {
    display: none;
  }
}
.one-post-thumb img {
  width: 100%;
}

.one-post-tit {
  margin-bottom: 20px;
  max-width: 400px;
  display: inline-block;
}
.one-post-tit h2 {
  font-size: 30px;
  line-height: 38px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
@media (max-width: 1200px) {
  .one-post-tit {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .one-post-tit {
    margin-bottom: 20px;
  }
}

.one-post-text {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .one-post-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .one-post-text {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .one-post-text {
    margin-bottom: 20px;
  }
}

.one-post-price {
  float: left;
  width: 100%;
  font-style: italic;
  position: relative;
}

.one-post-bt a {
  width: 140px;
}
@media (max-width: 1200px) {
  .one-post-bt a {
    width: 130px;
  }
}
@media (max-width: 991px) {
  .one-post-bt a {
    width: 150px;
  }
}

#order {
  background-color: #00A9F4;
  padding: 38px 112px 33px;
}
@media (max-width: 1300px) {
  #order {
    padding: 38px 90px 33px;
  }
}
@media (max-width: 991px) {
  #order {
    padding: 38px 54px 33px;
  }
}
@media (max-width: 767px) {
  #order {
    padding: 32px 35px 40px;
  }
}

.order {
  float: left;
  width: 100%;
  text-align: center;
  color: #fff;
}

.order-tit {
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  margin-bottom: 23px;
}
@media (max-width: 767px) {
  .order-tit {
    margin-bottom: 13px;
  }
}

.order-text {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 38px;
}
@media (max-width: 767px) {
  .order-text {
    display: none;
  }
}

.order-bt a {
  width: 240px;
}

.sec-bt {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  background-color: #051C2C;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer {
  float: left;
  width: 100%;
  background-color: #051C2C;
  color: #fff;
}
footer a {
  color: #00A9F4;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer a:hover {
  color: #fff;
}

.footer-in {
  position: relative;
  padding: 40px 66px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1200px) {
  .footer-in {
    padding: 40px 113px 55px;
  }
}
@media (max-width: 991px) {
  .footer-in {
    padding: 40px 0 55px;
  }
}
@media (max-width: 767px) {
  .footer-in {
    display: block;
    padding: 35px 0 44px;
  }
}

.footer-left {
  width: 190px;
}
@media (max-width: 767px) {
  .footer-left {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
}

.footer-logo {
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .footer-logo {
    display: none;
  }
}

.foot-pol {
  font-size: 18px;
}

@media (max-width: 1200px) {
  .partner {
    display: none;
  }
}

.partner-tit {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .footer-nav {
    display: none;
  }
}
.footer-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer-nav ul li {
  font-weight: normal;
  margin-bottom: 2px;
}
.footer-nav ul li a {
  font-size: 18px;
  line-height: 24px;
}

.footer-cont {
  color: #00A9F4;
  font-size: 18px;
  line-height: 24px;
  position: relative;
}
@media (max-width: 767px) {
  .footer-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 100%;
  }
}

.made {
  position: absolute;
  left: 0;
  bottom: -10px;
  font-size: 12px;
  margin-bottom: -15px;
}
@media (max-width: 767px) {
  .made {
    width: 100%;
    text-align: center;
  }
}

.footer-adr {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .foot-soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
.foot-soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #00A9F4;
}
@media (max-width: 767px) {
  .foot-soc a {
    margin: 0 5px;
  }
}

.custom-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: none;
}

.custom-modal-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.custom-form {
  max-width: 350px;
  padding: 54px 30px 25px;
  background-color: #fff;
  position: relative;
}

.close-modal {
  position: absolute;
  width: 60px;
  height: 60px;
  cursor: pointer;
  top: 0;
  right: 0;
}
.close-modal:before, .close-modal:after {
  content: "";
  height: 2px;
  width: 24px;
  background-color: #00A9F4;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -1px 0 0 -12px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.close-modal:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close-modal:hover:before, .close-modal:hover:after {
  background-color: #000;
}

.form-tit {
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 14px;
}

.one-inp {
  margin-bottom: 10px;
}

input:not([type=checkbox]) {
  width: 100%;
  text-align: center;
  height: 60px;
  border: 2px solid #051C2C;
  padding: 0 15px;
  outline: none !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
input:not([type=checkbox])::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #5A5A5A;
}
input:not([type=checkbox])::-moz-placeholder {
  /* Firefox 19+ */
  color: #5A5A5A;
}
input:not([type=checkbox]):-ms-input-placeholder {
  /* IE 10+ */
  color: #5A5A5A;
}
input:not([type=checkbox]):-moz-placeholder {
  /* Firefox 18- */
  color: #5A5A5A;
}
input:not([type=checkbox]):hover {
  border-color: #00A9F4;
}
input:not([type=checkbox]):focus {
  border-color: #00A9F4;
}

.inp-error input {
  border-color: #FF6B00;
  color: #FF6B00;
}
.inp-error input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #FF6B00;
}
.inp-error input::-moz-placeholder {
  /* Firefox 19+ */
  color: #FF6B00;
}
.inp-error input:-ms-input-placeholder {
  /* IE 10+ */
  color: #FF6B00;
}
.inp-error input:-moz-placeholder {
  /* Firefox 18- */
  color: #FF6B00;
}

.one-send {
  margin-bottom: 18px;
}
.one-send button {
  height: 60px;
  line-height: 60px;
  width: 100%;
}

.info-form {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  padding: 0 10px;
}

.modal-text {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 40px;
}

#hero-inside {
  background-color: #051C2C;
  padding: 180px 0 10px;
  color: #fff;
}
@media (max-width: 767px) {
  #hero-inside {
    padding: 130px 0 20px;
  }
}

.hero-inside-wrap {
  float: left;
  width: 100%;
  text-align: center;
}
.hero-inside-wrap h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  margin: 0 0 15px 0;
  padding: 0;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .hero-inside-wrap h1 {
    font-size: 28px;
    line-height: 1.03;
  }
}

.inside-descr {
  padding-top: 5px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .inside-descr {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  .inside-descr {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .inside-descr {
    display: none;
  }
}

.broad ul {
  display: block;
  text-align: center;
}
.broad ul li {
  display: inline-block;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #00A9F4;
  margin: 0 5px;
}
.broad ul li a {
  color: #00A9F4;
  display: block;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 20px;
  position: relative;
}
.broad ul li a:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 0;
  border: none;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.broad ul li a:hover {
  color: #fff;
}

.main {
  float: left;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
}
.main p {
  margin-bottom: 8px;
  font-weight: 300;
}
.main p + h2, .main p + h3, .main p + h4, .main p + ul, .main p + ol {
  margin-top: 40px;
}
.main ol {
  display: block;
  list-style: decimal;
  list-style-position: inside;
  margin: 20px 0 60px;
}
.main ol li {
  margin-bottom: 5px;
  font-weight: 300;
}
.main ul {
  margin: 20px 0 60px;
}
.main ul li {
  margin-bottom: 5px;
  font-weight: 300;
}

.main-wrap {
  padding: 40px 78px 75px;
}
@media (max-width: 1200px) {
  .main-wrap {
    padding: 40px 0 60px;
  }
}
@media (max-width: 767px) {
  .main-wrap {
    padding: 20px 0 40px;
  }
}

h2 {
  margin: 20px 0 20px 0;
  font-size: 28px;
  font-weight: 500;
  line-height: 33px;
  text-transform: uppercase;
}
h2 + h3 {
  margin-top: 40px;
}

h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

#etaps {
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 991px) {
  #etaps {
    background: url(./images/etaps-bg.jpg) center center no-repeat;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #etaps {
    background: #fff url(./images/etaps-bg-800.jpg) center bottom -172px no-repeat;
  }
}
@media (max-width: 767px) {
  #etaps {
    margin-bottom: 110px;
  }
}

.etaps-tit h2 {
  margin-top: 0;
}

.back-bt.hide-back-desc {
  display: none;
}
@media (max-width: 767px) {
  .back-bt.hide-back-desc {
    display: block;
    padding: 15px 0 0;
  }
}

.etaps-wrap {
  padding-top: 40px;
}
@media (max-width: 991px) {
  .etaps-wrap {
    padding-top: 20px;
  }
}

.one-et {
  margin-bottom: 40px;
}

.one-et-ico {
  margin-bottom: 20px;
}

.one-et-text {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.main-form {
  float: left;
  width: 100%;
  text-align: center;
  padding: 60px 0 60px;
}
@media (max-width: 1200px) {
  .main-form {
    padding: 40px 0 60px;
  }
}

.form-order {
  display: inline-block;
  width: 320px;
}
@media (max-width: 767px) {
  .form-order {
    width: 100%;
  }
}

.one-ord-inp {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}

.check-form {
  text-align: left;
  float: left;
  width: 100%;
  padding: 40px 0 50px;
}

.one-check {
  white-space: nowrap;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .one-check {
    white-space: normal;
    margin-bottom: 17px;
  }
}
.one-check label {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
  padding-left: 40px;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .one-check label {
    font-size: 16px;
    line-height: 15px;
  }
}
.one-check label input {
  display: none;
}
.one-check label input:checked + i {
  background-color: #00A9F4;
  border-color: #00A9F4;
}
.one-check label i {
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid #051C2C;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -11px;
}
.order-now-bt {
  text-align: left;
  float: left;
  width: 100%;
}
@media (max-width: 767px) {
  .order-now-bt {
    text-align: center;
  }
}
.order-now-bt button {
  height: 60px;
  line-height: 60px;
  width: 240px;
}

.order-info {
  float: left;
  width: 100%;
  padding: 17px 0 0;
  font-size: 12px;
  line-height: 14px;
  width: 280px;
}
@media (max-width: 767px) {
  .order-info {
    display: inline-block;
    text-align: left;
    float: none;
  }
}

.main-posts {
  float: left;
  width: 100%;
  font-weight: normal;
}

.fast-menu {
  float: left;
  width: 100%;
  padding: 16px 0 40px;
}
@media (max-width: 991px) {
  .fast-menu {
    padding: 34px 0;
  }
}
@media (max-width: 767px) {
  .fast-menu {
    padding: 20px 0 16px;
    position: relative;
    z-index: 9;
  }
}
.fast-menu ul {
  display: block;
  text-align: center;
  padding: 0 80px;
  margin: 0;
}
@media (max-width: 1200px) {
  .fast-menu ul {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .fast-menu ul {
    position: absolute;
    padding: 0 12px;
    background-color: #fff;
    display: none;
  }
}
@media (min-width: 767px) {
  .fast-menu ul li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0px;
    font-weight: normal;
  }
  .fast-menu ul li a {
    color: #00A9F4;
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    padding: 0 8px 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .fast-menu ul li a:hover {
    background-color: #00A9F4;
    color: #fff;
  }
  .fast-menu ul li.active a {
    background-color: #00A9F4;
    color: #fff;
  }
}
@media (max-width: 767px) {
  .fast-menu ul li {
    float: left;
    width: 100%;
  }
  .fast-menu ul li a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ECECEC;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #051C2C;
  }
  .fast-menu ul li:last-child a {
    border: none;
  }
}

.bt-mob-cat {
  display: none;
}
@media (max-width: 767px) {
  .bt-mob-cat {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 40px;
    border: 2px solid #051C2C;
    line-height: 36px;
    text-align: center;
  }
}

.posts-cat {
  float: left;
  width: 100%;
}

.cat-tit {
  float: left;
  width: 100%;
  text-align: center;
}
.cat-tit h2 {
  margin: 0 0 20px;
}

.posts-cat-list {
  margin: 0 -40px 140px;
}
@media (max-width: 1200px) {
  .posts-cat-list {
    margin: 0 0 45px;
  }
}
.posts-cat-list-in {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .posts-cat-list-in {
    padding: 17px 40px 0;
  }
}

@media (min-width: 767px) {
  .one-cat-post {
    width: 280px;
    margin: 0 5px 10px;
  }
}
@media (max-width: 767px) {
  .one-cat-post {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 767px) {
  .one-cat-post-in {
    min-height: 320px;
    background-color: #ECECEC;
    float: left;
    width: 100%;
  }
}

@media (min-width: 767px) {
  .one-cat-post-thumb {
    padding: 1px;
    float: left;
    width: 100%;
    margin-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .one-cat-post-thumb {
    display: none;
  }
}
.one-cat-post-thumb span {
  display: block;
  height: 159px;
  background-repeat: no-repeat;
  background-position: ceenter center;
  background-size: cover;
}

@media (min-width: 767px) {
  .one-cat-post-descr {
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 300;
    padding: 0 20px;
  }
}

@media (min-width: 767px) {
  .one-cat-post-tit {
    float: left;
    width: 100%;
    height: 56px;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 18px;
  }
  .one-cat-post-tit a {
    font-size: 16px;
    line-height: 18px;
    color: #051C2C;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
  }
  .one-cat-post-tit a:hover {
    color: #00A9F4;
  }
}
@media (max-width: 767px) {
  .one-cat-post-tit a {
    float: left;
    width: 100%;
    color: #00A9F4;
    text-decoration: none;
  }
}

@media (min-width: 767px) {
  .one-cat-post-cat {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    color: #00A9F4;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .one-cat-post-cat {
    display: none;
  }
}

@media (min-width: 767px) {
  .one-cat-post-read {
    float: left;
    width: 100%;
  }
  .one-cat-post-read a {
    font-size: 18px;
    line-height: 24px;
    color: #00A9F4;
    text-decoration: none;
  }
  .one-cat-post-read a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 767px) {
  .one-cat-post-read {
    display: none;
  }
}

.back-bt {
  text-align: center;
  padding: 60px 0 0;
}
@media (max-width: 1200px) {
  .back-bt {
    padding: 40px 0 0;
  }
}
.back-bt a {
  height: 60px;
  line-height: 60px;
  width: 240px;
}

.posts-single {
  float: left;
  width: 100%;
  padding: 0 78px 80px;
}
@media (max-width: 1200px) {
  .posts-single {
    padding: 0 0 80px;
  }
}
.posts-single > h2, .posts-single > h3 {
  text-align: center;
}
.posts-single h2 {
  margin: 0 0 13px;
}
.posts-single h3 {
  margin: 0 0 15px;
}
.posts-single h4 {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
  margin: 0 0 20px;
}
.posts-single p {
  font-size: 18px;
  line-height: 24px;
}
.posts-single p + blockquote {
  margin-top: 20px;
}
.posts-single blockquote {
  margin: 10px 0 20px;
  padding: 0px 80px 0px 40px;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}
@media (max-width: 767px) {
  .posts-single blockquote {
    padding: 0 20px 0 20px;
  }
}
.posts-single .table-wrap {
  overflow-x: auto;
  max-width: 100%;
  margin: 45px auto 54px;
}
.posts-single table {
  max-width: 100%;
  border-spacing: 1px;
  border: 1px solid #051C2C;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .posts-single table {
    width: 100%;
  }
}
.posts-single table tr th, .posts-single table tr td {
  padding: 15px 20px;
  border: 1px solid #051C2C;
  text-align: left;
  line-height: 20px;
}
@media (max-width: 991px) {
  .posts-single table tr th, .posts-single table tr td {
    padding: 10px 10px;
  }
}
.posts-single table tr th {
  font-size: 18px;
}
.posts-single table tr td {
  font-size: 16px;
}

.post-in-thumb {
  float: left;
  width: 100%;
  margin-bottom: 50px;
  margin-top: -20px;
  background-position: center center;
  height: 338px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 991px) {
  .post-in-thumb {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .post-in-thumb {
    display: none;
  }
}

.post-body {
  float: left;
  width: 100%;
  padding: 35px 0 58px;
}
@media (max-width: 767px) {
  .post-body {
    padding: 10px 0 40px;
  }
}

#advantages {
  text-align: center;
  padding: 60px 0 80px;
}
@media (min-width: 991px) {
  #advantages {
    background: #fff url(./images/advantages-bg.jpg) center bottom -172px no-repeat;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #advantages {
    background: #fff url(./images/advantages-bg-800.jpg) center bottom -172px no-repeat;
  }
}
@media (max-width: 767px) {
  #advantages {
    padding: 40px 0 20px;
  }
}

.about-tit {
  float: left;
  width: 100%;
  text-align: center;
  padding: 56px 0 40px;
}
.about-tit h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.one-post-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
}
@media (max-width: 991px) {
  .one-post-soc {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}
.one-post-soc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #00A9F4;
}
@media (max-width: 767px) {
  .one-post-soc a {
    margin: 0 5px;
  }
}

@media (max-width: 991px) {
  .posts-about {
    padding: 0 110px;
  }
}
@media (max-width: 767px) {
  .posts-about {
    padding: 0 20px;
  }
}
.posts-about .one-post {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1200px) {
  .posts-about .one-post {
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 991px) {
  .posts-about .one-post {
    margin-bottom: 80px;
  }
}
.posts-about .one-post-descr {
  padding-top: 60px;
}
.posts-about .one-post-text {
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .posts-about .one-post-text {
    font-size: 18px;
    line-height: 26px;
  }
}
@media (max-width: 1200px) {
  .posts-about .one-post-tit {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

#about-comp h2 {
  margin-top: 0;
}

#numbers {
  padding: 50px 0 60px;
}
@media (min-width: 991px) {
  #numbers {
    background: #fff url(./images/numbers-bg.jpg) center center no-repeat;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  #numbers {
    background: #fff url(./images/numbers-bg-800.jpg) center center no-repeat;
  }
}
@media (max-width: 767px) {
  #numbers {
    padding: 40px 0 40px;
  }
}

.numbers-tit {
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.numbers-tit h2 {
  padding: 0;
  margin: 0;
}

.numbers-wrap {
  float: left;
  width: 100%;
}

.one-number {
  float: left;
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 767px) {
  .one-number {
    margin-bottom: 40px;
  }
}

.one-number-val {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.one-number-text {
  float: left;
  width: 100%;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
}

#feed {
  padding: 60px 0 110px;
}
@media (max-width: 767px) {
  #feed {
    padding: 30px 0 110px;
  }
}

.feed-carus {
  padding: 0 40px;
}
@media (max-width: 767px) {
  .feed-carus {
    padding: 0 35px;
  }
}
.feed-carus .slick-dots {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: -25px;
}
@media (max-width: 767px) {
  .feed-carus .slick-dots {
    bottom: -55px;
  }
}
.feed-carus .slick-dots li {
  display: inline-block;
  margin: 0 10px;
}
.feed-carus .slick-dots li button {
  outline: none !important;
  width: 12px;
  height: 12px;
  font-size: 0;
  overflow: hidden;
  border: none;
  background-color: #051C2C;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.feed-carus .slick-dots li button:hover {
  background-color: #00A9F4;
}
.feed-carus .slick-dots li.slick-active button {
  background-color: #00A9F4;
}
.feed-carus .slick-arrow {
  width: 30px;
  height: 50px;
  position: absolute;
  z-index: 9;
  top: 50%;
  margin-top: -15px;
  font-size: 0;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
.feed-carus .slick-arrow:before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  margin-top: -13px;
  left: 50%;
  margin-left: -13px;
  border: none;
  border-right: 7px solid #00A9F4;
  border-bottom: 7px solid #00A9F4;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.feed-carus .slick-arrow.slick-prev {
  left: -40px;
}
@media (max-width: 767px) {
  .feed-carus .slick-arrow.slick-prev {
    left: -35px;
  }
}
.feed-carus .slick-arrow.slick-prev:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.feed-carus .slick-arrow.slick-next {
  right: -40px;
}
@media (max-width: 767px) {
  .feed-carus .slick-arrow.slick-next {
    right: -35px;
  }
}

.one-feed {
  outline: none !important;
  padding: 10px;
}
@media (max-width: 767px) {
  .one-feed {
    text-align: center;
  }
}
.one-feed a {
  outline: none !important;
}
.one-feed a img {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media (max-width: 767px) {
  .one-feed a img {
    display: inline;
    max-width: 250px;
  }
}

.digit-con {
  width: 40px;
  height: 62px;
  overflow: hidden;
  display: inline-block;
  background-color: #000;
  font-size: 60px;
  line-height: 62px;
  margin: 0 2px 0 3px;
}

.digit-con span {
  width: 40px;
  height: 62px;
  display: block;
  text-align: center;
  font-size: 60px;
  line-height: 62px;
  color: #fff;
  position: relative;
  top: 0;
}

.comma {
  color: #0CA67F;
  font-size: 4.2em;
}

.error {
  color: red;
  display: none;
}
/*# sourceMappingURL=style.css.map */